/* 關於我們css */
.about_headerbanner_smbg {
    margin-top: 100px;
    background-image: url("../img/about_us-img/about_us-bg.jpg");
    background-size: cover;
    background-position: center center;
    overflow: hidden; /* 確保超出容器的圖片不會顯示滾動條 */
}
#about h1 {
    background-image: url(../img/about_us-img/blob_brown.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 44% center;
}
#brand {
    margin-top: 5em;
}
#brand h2 {
    background-image: url(../img/about_us-img/blob_brown.png);
    background-size: 9.5% auto;
    background-repeat: no-repeat;
    background-position: right 48% center;
}
.content_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content_wrap img, .content_wrap p {
    box-sizing: border-box;
    width: 50%;
    object-fit: contain;
}
#about p, #brand img ,#brand p {
    margin-right: 1em;
}
#about img, #brand p, #about p {
    margin-left: 1em;
}
.watermark1 {
    position: absolute;
    right: 0;
    bottom: -10%;
    max-width: 30%;
    opacity: .3;
}
.watermark2 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-30deg);
    opacity: .3;
}
/* promise */
.promise {
    height: 280px;
    column-gap: 2em;
    padding: 1em;
    margin: 3em 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.blob4 {
    background-image: url(../img/about_us-img/blob4.png);
}
.promise p {
    font-weight: bold;
}
/* contact */
#contact {
    background-image: url("../img/about_us-img/form-bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    overflow: hidden;
}
#contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#contact .normal_form {
    width: 500px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.form-group {
    margin: 0.5em 0;
    width: 100%;
}
#about .form-group label {
    display: block;
    font-size: 25px; /* 調整 label 文字大小 */
    color: #2B4C7C;
    margin-bottom: 0.5em; /* 增加標籤與輸入框間距 */
}
#about .form-group input, textarea {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 25px; 
    margin-bottom: 0.5em; /* 增加標籤與輸入框間距 */
}
textarea {
    height: 200px;
}
#contact .normal_btn {
    margin: 1em 0;
}
.watermark3 {
    position: absolute;
    right: -1%;
    bottom: 20%;
    max-width: 30%;
    opacity: .3;
    transform: rotate(-30deg);
}
/* RWD */
@media screen and (max-width:1280px) {
    .about_headerbanner_smbg {
        margin-top: 90px;
    }
    .normal-p {
        margin-top: 0;
        margin-bottom: 0;
    }

}
@media screen and (max-width:1024px) {
    .about_headerbanner_smbg {
        background-image: url("../img/about_us-img/about_us-bg-pad.jpg");
        margin-top: 80px;
    }
    #about h1 {
        background-size: 80px auto;
        background-position: left 45% center;
    }
    #contact .normal_form {
        width: 480px;
        padding: 1em 2em 0 2em;
    }
    .form-group {
        margin: 0.1em 0;
    }
    .form-group label {
        font-size: 22px; /* 調整 label 文字大小 */
        margin-bottom: 0.4em; /* 增加標籤與輸入框間距 */
    }
    .form-group input, textarea {
        font-size: 22px; 
        margin-bottom: 0.3em; /* 增加標籤與輸入框間距 */
    }
    textarea {
        height: 180px;
    }
    .watermark3 {
        right: 0;
        bottom: 10%;
    }
}
@media screen and (max-width:810px) {
    .about_headerbanner_smbg {
        margin-top: 55px;
    }
    #about h1 {
        background-size: 70px auto;
        background-position: left 42% center;
    }
    .promise {
        height: 180px;
    }
    form {
        padding: 1em;
    }
}
@media screen and (max-width:700px) {
    .promise {
        height: 165px;
        column-gap: .5em;
    }
    #contact .normal_form {
        width: 450px;
        padding: 1em 2em 0 2em;
    }
    .form-group label {
        font-size: 20px; /* 調整 label 文字大小 */
    }
    .form-group input, textarea {
        font-size: 20px; 
    }
    textarea {
        height: 160px;
    }
    .watermark3 {
        right: 0;
        bottom: 10%;
    }
}
@media screen and (max-width:650px) {
    #about h1 {
        background-size: 75px auto;
        background-position: left 40% center;
    }
    .content_wrap {
        flex-direction: column;
    }
    .content_wrap p {
        width: 85%;
        margin-top: 1em;
    }
    #brand .content_wrap :first-child {
        order: 3;
    }
    #brand .content_wrap :nth-child(2)  {
        order: 2;
    }
    #brand .content_wrap :last-child {
        order: 1;
    }
    .promise {
        height: 150px;
        column-gap: .5em;
    }
    #contact .h2_line {
        margin: 5px 0;
    }
    #contact .normal_form {
        width: 450px;
        margin: 70px 5%;
    }
    .form-group label {
        font-size: 18px; /* 調整 label 文字大小 */
    }
    .form-group input, textarea {
        font-size: 18px; 
    }
    textarea {
        height: 140px;
    }
}
@media screen and (max-width:430px) {
    .about_headerbanner_smbg {
        background-image: url("../img/about_us-img/about_us-bg-phone.jpg");
        margin-top: 60px;
    }
    #about h1 {
        background-size: 50px auto;
    }
    .promise {
        height: 130px;
        column-gap: .3em;
        padding: 0;
    }
    [class*="blob"] p {
        font-size: 12px;
    }
    [class*="blob"] i {
        font-size: 15px;
        padding: 0.1em;
    }
    #contact .normal_form {
        width: 360px;
        margin: 50px 2%;
        padding: 10px 20px 0 20px;
    }
    #contact .h2_line {
        margin: 0;
    } 
    .form-group label {
        font-size: 16px; /* 調整 label 文字大小 */
    }
    .form-group input, textarea {
        font-size: 16px; 
    }
    textarea {
        height: 140px;
    }
}
