/* 關於我們css */
.about_headerbanner_smbg {
    margin-top: 100px;
    background-image: url("../img/about_us-img/about_us-bg.jpg");
}
#about h1 {
    background-image: url(../img/about_us-img/blob_brown.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 44% center;
}
#brand {
    margin-top: 5em;
}
#brand h2 {
    background-image: url(../img/about_us-img/blob_brown.png);
    background-size: 9.5% auto;
    background-repeat: no-repeat;
    background-position: right 48% center;
}
.content_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content_wrap img, .content_wrap p {
    box-sizing: border-box;
    width: 50%;
    object-fit: contain;
}
#about p, #brand img ,#brand p {
    margin-right: 1em;
}
#about img, #brand p, #about p {
    margin-left: 1em;
}
.watermark1 {
    position: absolute;
    right: 0;
    bottom: -10%;
    max-width: 30%;
    opacity: .3;
}
.watermark2 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-30deg);
    opacity: .3;
}
/* promise */
.promise {
    height: 280px;
    column-gap: 2em;
    padding: 1em;
    margin: 3em 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.blob4 {
    background-image: url(../img/about_us-img/blob4.png);
}
.promise p {
    font-weight: bold;
}
/* contact */
#contact {
    background-image: url("../img/about_us-img/form-bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    overflow: hidden;
}
#contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.form-group {
    margin: 0.5em 0;
    width: 100%;
}
.form-group label {
    display: block;
    font-size: 25px; /* 調整 label 文字大小 */
    color: #2B4C7C;
    margin-bottom: 0.5em; /* 增加標籤與輸入框間距 */
}
.form-group input, textarea {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 25px; 
    margin-bottom: 0.5em; /* 增加標籤與輸入框間距 */
}
textarea {
    height: 200px;
}
#contact .normal_btn {
    margin-bottom: 1em;
}
.watermark3 {
    position: absolute;
    right: -1%;
    bottom: 20%;
    max-width: 30%;
    opacity: .3;
    transform: rotate(-30deg);
}
