/* 共用css */
body, button, input, select, textarea {
    font-family: "Noto Sans TC";
}
/* 瀏覽器會為 <button>、<input>、<select> 和 <textarea> 等表單元素設定一套強制的預設樣式 */
.container {
    max-width: 1280px;/* TODO:測試的電腦原是1920px，但通常預設150%=1280px,所以先用這個預設,之後可改1440px */
    height: 100%;/* 讓 container 繼承 navbar 的高度 */
    margin: 0 auto;
    position: relative;
}
h1 {
    font-size: 35px;
    font-weight: bold;
    color: #2B4C7C;
    display: flex;
    justify-content: center;
    letter-spacing: 0.44em;
    padding: 1.5em;
    margin: 1em;
}
h2 { 
    font-size: 30px;
    font-weight: bold;
    color: #2B4C7C;
    display: flex;
    justify-content: center;
    letter-spacing: 0.3em;
    padding: 1.5em;
    margin: 50px;
    line-height: 2em;
}
.h2_line {
    margin: 1em 0;
    border-bottom: 3px solid #2B4C7C;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    display: flex;
    justify-self: center;
    flex-wrap: nowrap;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.15em;
    padding: 0 0.2em;
    line-height: 2em ;
}
.second-p {
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    padding: 0.2em;
}
.normal-p {
    color: black;
    font-size: 24px;
    line-height: 2em ;
    margin: 1em 4em 1em 4em;
    letter-spacing: 1px;
    padding: 0.2em;
    /* text-indent: 2.5em; */
}
.normal_btn {
    width: 130px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 20px;
    letter-spacing: 0.11em;
    padding: 0.12em;
    margin: 0 2%;
    cursor: pointer;
    text-align: center;
}
.normal_btn:hover {
    background: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, background 0.3s;
}
[class*="smbg"] {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.normal_form {
    border-radius: 20px;
    width: 45%;
    margin: 5em;
    padding: 2em 2em 0 2em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
label, input, textarea {
    letter-spacing: 1px;
}
input, textarea, select{
    border-radius: 8px;
    border: 1px solid rgb(151, 147, 147);
    padding: 8px;/* 輸入框和要打的字之間的間距 */
}
#contact .normal_btn, #login .normal_btn, #quicklyrent .normal_btn{
    width: 60%;
}
#contact .normal_btn a, #login .normal_btn a, #quicklyrent .normal_btn a {
    text-align: center;
}
.img_btn {
    width: 100%;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.shop .slick-prev, .shop .slick-next {
    font-size: 60px;
    font-weight: bold;
    color: #2B4C7C;
    background: white;
    border-radius: 100px;
    opacity: 1;
    /* width: 80px;
    height: 80px;
    margin: 1em; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.shop .slick-prev {
    left: -62px;
}
.shop .slick-prev:hover, .shop .slick-next:hover {
    color: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, color 0.3s;
}
/* .arrowbtn_wrap1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.arrowbtn_wrap2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
} */
@media screen and (max-width:1280px) {
    .container {
        max-width: 1130px;
    }
}
@media screen and (max-width:1024px) {
    .container {
        max-width: 920px;
    }
    h1 {
        font-size: 28px;
        letter-spacing: 0.3em;
    }
    h2 { 
        font-size: 23px;
        letter-spacing: 0.2em;
        padding: 1.5em;
        margin: 20px;
    }
    h3 {
        font-size: 20px;
        letter-spacing: 0.1em;
        line-height: 1.5em ;
    }
    .second-p {
        font-size: 18px;
        letter-spacing: 0;
    }
    .normal-p {
        font-size: 20px;
        line-height: 1.8em ;
        margin: 1em 2em;
        letter-spacing: 1px;
        padding: 0.2em;
    }
    .normal_btn {
        width: 110px;
        height: 42px;
        font-size: 20px;
        border-radius: 15px;
        letter-spacing: 0.1em;
    }
    .shop .slick-prev, .shop .slick-next {
        font-size: 50px;
        top: 45%;
    }
    .shop .slick-dots li button:before {
        font-size: 10px;
    }
} 
@media screen and (max-width:810px) {
    .container {
        max-width: 810px;
    }
    h1 {
        letter-spacing: 0.3em;
        padding: 30px;
        margin: 20px;
    }
    h2 { 
        letter-spacing: 0.1em;
        padding: 1em;
        margin: 10px;
    }
    h3 {
        font-size: 19px;
        letter-spacing: 0.1em;
        line-height: 1.5em ;
    }
    .normal-p {
        font-size: 18px;
        margin: 35px;
        padding: 0;
    }
    .normal_btn {
        width: 100px;
        height: 38px;
        font-size: 18px;
        border-radius: 10px;
    }
    [class*="smbg"] {
        height: 200px;
    }
}
@media screen and (max-width:430px) {
    .container {
        max-width: 430px;
        padding: 15px;
    }
    h1 {
        font-size: 24px;
        letter-spacing: 0.1em;
        padding: 20px;
        margin: 10px;
    }
    h2 {
        font-size: 22px;
        letter-spacing: 2px;
        padding: 5px;
        margin: 10px;
    }
    h3 {
        font-size: 18px;
        line-height: 1.7em;
        text-align: center;
    }
    .second-p {
        font-size: 17px;
        line-height: 1em;
    }
    .normal-p {
        line-height: 1.5em ;
        margin: 1em 0;
    }
    .normal_btn {
        width: 90px;
        height: 35px;
        font-size: 16px;
    }
    .shop .slick-dots li button:before {
        font-size: 5px;
    }
    [class*="smbg"] {
        height: 174px;
    }
}
@media screen and (max-width:390px) {
    .container {
        max-width: 390px;
        padding: 10px;
    }
    h1 {
        font-size: 20px;
        letter-spacing: 0;
        padding: 15px;
    }
    h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }
    h3 {
        font-size: 16px;
        line-height: 1.5em;
    }
    /* .second-p {
        font-size: 15px;
        line-height: 1.5em;
    } */
    .normal-p {
        font-size: 15.5px;
        line-height: 1.6em;
        letter-spacing: 1px;
    }
    .normal_btn {
        width: 80px;
        height: 30px;
        font-size: 14px;
    }
}