/* 共用 */
.container {
    max-width: 1280px;/* TODO:測試的螢幕小於1920會壞掉，所以先用筆電的預設 */
    height: 100%;/* 讓 container 繼承 navbar 的高度 */
    margin: 0 auto;
    position: relative;
}
h1, h2, h3 {
    font-family: "Noto Sans TC";
}
h1 {
    font-size: 35px;
    font-weight: bold;
    color: #2B4C7C;
    display: flex;
    justify-content: center;
    letter-spacing: 0.44em;
    padding: 1.5em;
    margin: 1em;
}
h2 { 
    font-size: 30px;
    font-weight: bold;
    color: #2B4C7C;
    display: flex;
    justify-content: center;
    letter-spacing: 0.44em;
    padding: 1.5em;
    margin: 1em;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.28em;
    padding: 0 0.2em;
    line-height: 2em ;
}
.second-p, .normal-p {
    font-family: "Noto Sans TC";
    font-size: 20px;
    color: black;
    letter-spacing: 0.24em;
    padding: 0.2em;
}
.normal-p {
    font-size: 24px;
    line-height: 2em ;
    margin: 1em 4em 1em 4em;
    /* text-indent: 2.5em; */
}
.normal_btn {
    width: 130px;
    height: 50px;
    font-family: "Noto Sans TC";
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 20px;
    letter-spacing: 0.11em;
    padding: 0.12em;
    margin: 0 2% 1% 2%;
    cursor: pointer;
    text-align: center;
}
.normal_btn:hover {
    background: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, background 0.3s;
}
#news h1, #news h2 {
    background-image: url(../img/blob_green.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 44% center;
}
[class*="smbg"] {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.normal_form {
    border-radius: 20px;
    width: 40%;
    margin: 3em;
    padding: 2em 2em 0 2em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#contact .normal_btn, #login .normal_btn, #quicklyrent .normal_btn{
    width: 60%;
}
.img_btn {
    width: 100%;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.arrowbtn_wrap1 button, .arrowbtn_wrap2 button {
    font-size: 40px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowbtn_wrap1 button:hover, .arrowbtn_wrap2 button:hover {
    background: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, background 0.3s;
}
.arrowbtn_wrap1 {
    position: absolute;
    top: 40%;
    left: 0;
}
.arrowbtn_wrap2 {
    position: absolute;
    top: 40%;
    right: 0;
}