/* header&footer css */
/* header nav */
.navbar {
    background-color: #C0CBDC;
}
header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}
header .container, footer .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    height: 110px;
}
.header_logo img {
    height: 100%;
}
/* nav ul {
    white-space: nowrap;  防止導覽列項目換行
} */
header nav li {
    display: inline-block;
}
nav li a {
    font-size: 20px;
    font-weight: bold;
    color: #2B4C7C;
    letter-spacing: 1px;
    margin: 0 25px;
}
nav li a:hover {
    color: #EE9F30;
    border-bottom: 3px solid #EE9F30;
    padding-bottom: 4px;
    transition: border 0.3s, color 0.3s; /*慢點變色 */
}
.header_icon {
    font-size: 25px;
    display: flex;
    padding: 1%;
}
.header_icon a {
    color: #2B4C7C;
}
.user_icon, .cart_icon {
    display: flex;/* 每個圖示字元所佔據的字元寬度在字體檔案中是不同的,確保這兩個 icon 的邊框框起來是完美的、統一的正方形 */
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    margin: 4px;
}
.user_icon:hover, .cart_icon:hover {
    color: #EE9F30;
    /* box-shadow: 0 0 0 3px #EE9F30; 用 box-shadow 取代 border才不用有flexbox因尺寸變化產生抖動問題  */
    border-radius: 20%;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s;
}
/* RWD-header */
#menu_control, .menu_overlay, .hb {
    display: none;
}
header .footer_icon {
    display: none;
}
@media screen and (max-width:1280px) {
    header .navbar {
        height: 90px;
    }
    .header_logo {
        height: 100px;
    }
    header nav a {
        font-size: 19px;
        margin: .7em;
    }
    .header_icon a {
        padding: 20px; /*讓icon跟border距離加大 */
        margin: 6px;
    }
}
@media screen and (max-width:1024px) {
    header .navbar {
        height: 80px;
    }
    .header_logo {
        height: 90px;
    }
    header nav a {
        font-size: 17px;
        margin: .35em;
    }
    .header_icon a {
        padding: 0;
        margin: 5px;
    }
    .header_icon i {
        font-size: 22px;
    }
}
@media screen and (max-width: 810px) {
    .hb {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #2B4C7C;
        border-radius: 15%;
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateY( -50% );
        cursor: pointer;
    }
    .hb span {
        width: 30px;
        height: 2px;
        background-color: white;
        position: absolute;
    }
    .bar1 {
        top: 10px;
        left: 5px;
        transition: top .3s .4s/*延遲*/, rotate .3s 0s; 
    }
    .bar2 {
        top: 19px;
        left: 5px;
        opacity: 1;
    }
    .bar3 {
        top: 28px;
        left: 5px;
        transition: top .3s .4s, rotate .3s 0s;
    }
    #menu_control:checked ~ .hb .bar2 {
        opacity: 0;
    }
    #menu_control:checked ~ .hb .bar1 {
        top: 19px;
        rotate: 45deg;
        transition: top .2s 0s, rotate .3s .3s;
    }
    #menu_control:checked ~ .hb .bar3 {
        top: 19px;
        rotate: 315deg;
        transition: top .2s 0s, rotate .3s .3s;
    }
    .header_icon {
        margin-right: 10%;
    }
    .header_icon a {
        margin: 3px
    }
    header nav {
        width: 80%;
        height: calc(100vh - 50px);
        background-color: #d8e5f8;
        transition: .3s;
        position: absolute;
        top: 60px;
        left: -100%;
        z-index: 2000;
    }
    header ul {
        display: flex;
        flex-direction: column;
        /* line-height: 3.5em; */
        margin: 1em 0;
    }
    header nav a {
        display: block;
        border-bottom: 1px solid #2B4C7C;
        padding: 20px 0 ;
    }
    header nav a:hover {
        border-bottom: 1px solid #2B4C7C;
        padding: 20px 0px;
    }
    #menu_control:checked ~ nav, #menu_control:checked ~ nav {
        left: 0; 
    }
    header nav::after{
        background-color: gray;
        width: 100%;
    }
    header .navbar {
        height: 60px;
    }
    .header_logo {
        height: 70px;
    }
    header .footer_icon {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    header .footer_icon i {
        font-size: 25px;
    }
    /* 點擊黑色區域可收回nav */
    .menu_overlay {
        position: fixed; /* 讓它固定在視窗上 */
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        /* 初始隱藏遮罩 */
        visibility: hidden; 
        opacity: 0;
        transition: opacity .3s, visibility .3s;
        z-index: 1500;
        cursor: pointer;
    }
    #menu_control:checked ~ .menu_overlay {
        visibility: visible; /* 點擊 checkbox 時，同時顯示 nav 和遮罩 */
        opacity: 1;
    }
}
@media screen and (max-width:430px) {
    header .container {
        padding: 0;
    }
    .header_icon {
        margin-right: 13%;
    }
}
@media screen and (max-width:390px) {
    .header_icon {
        margin-right: 14%;
    }
}
/* footer nav */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: middle;
}
footer .navbar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
footer nav {
    font-size: 16px;
    color:#2B4C7C;
    letter-spacing: 0.12em;
    margin: 1em;
}
.footer_logo {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.footer_logo img {
    height: 100%;
}
.footer_icon { 
    font-size: 25px;
    color: #2B4C7C;
    display: flex;
    margin: 1%;
}
.map_icon, .ig_icon, .fb_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    margin: 5px;
}
.map_icon:hover, .ig_icon:hover, .fb_icon:hover {
    color: #EE9F30;
    /* box-shadow: 0 0 0 3px #EE9F30; */
    border-radius: 20%;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s;
}
.footerbar {
    font-size: 16px;
    color: white;
    background-color: #2B4C7C;
    letter-spacing: 0.12em;
    height: 60px;
}
.footerbar .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerbar .container p {
    line-height: 1.4;
}
/* RWD-footer */
@media screen and (max-width:1280px) {
    footer .navbar {
        height: 95px;
    }
    .footer_logo {
        height: 90px;
    }
    footer nav {
        font-size: 14px;
    }
    footer li {
        line-height: 20px;
    }
    .material-symbols-outlined {
        font-size: 22px;
    }
    .footerbar {
    font-size: 14px;
    height: 50px;
    }
}
@media screen and (max-width:1024px) {
    footer .navbar {
        height: 80px;
    }
    .footer_logo {
        height: 80px;
    }
    footer nav {
        font-size: 12px;
        letter-spacing: 0.05em;
        margin:  0 0 0 1em;
    }
    
    .material-symbols-outlined {
        font-size: 20px;
    }
    .footer_icon a {
        padding: 0;
        margin: 5px;
    }
    .footer_icon i {
        font-size: 22px;
    }
    .footerbar {
        font-size: 12px;
        height: 40px;
    }
}
@media screen and (max-width:810px) {
    footer .navbar {
        height: 70px;
    }
    .footer_logo {
        height: 70px;
    }
    footer nav {
        font-size: 10px;
    }
    
    footer li {
        line-height: 16px;
    }
    .material-symbols-outlined {
        font-size: 16px;
    }
    .footer_icon {
        font-size: 22px;
    }
    .map_icon, .ig_icon, .fb_icon {
        width: 30px;
        height: 30px;
        padding: 20px;
        margin: 5px;
    }
    .footerbar {
        font-size: 10px;
        height: 30px;
    }
}
@media screen and (max-width:430px) {
    footer .navbar {
        height: auto;
    }
    footer .container {
        flex-direction: column;
    }
    .footer_logo {
        height: 100px;
        position: relative;
        align-self: flex-start;
        order: 1;
    }
    footer nav {
        order: 3;
    }
    footer li {
        font-size: 16px;
        line-height: 18px;
    }
    .material-symbols-outlined {
        font-size: 20px;
    }
    .footer_icon {
        order: 2;
        font-size: 25px;
        padding: 0;
        margin: 0;
    }
    .map_icon, .ig_icon, .fb_icon {
        width: 30px;
        height: 30px;
        padding: 20px;
        margin: 5px;
    }
    .footerbar {
        font-size: 13px;
        height: auto;
    }
}
@media screen and (max-width:390px) {
    footer li {
        font-size: 15px;
        line-height: 15px;
    }
    .footerbar {
        font-size: 12px;
    }
}