/* 首頁css */
/* header banner */
.home_headerbanner_bg {
    margin-top: 100px;
    height: 650px;
    background-image: url(../img/home_banner-bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    overflow: hidden; /* 確保超出容器的圖片不會顯示滾動條 */
}
.home_headerbanner_bg .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.slogn, .slogn h1 { /* 因為共通的css有設定過h1的樣式，所以要蓋過去  */
    font-size: 35px;
    color: #EE9F30;
    letter-spacing: 0.12em;
    margin-top: -15%;
}
.slogn h1, .english_slogn {
    padding: 3% 0;
    margin: 0;
}
.slogn h1 {
    font-weight: bold;
    display: flex;
    justify-self: start;
}
.slogn span {
    font-family: "Damion";
    letter-spacing: 0.3em;
}
.english_slogn {
    font-family: "Damion";
    text-indent: 1em;  /* 縮排 */
    font-size: 38px;
}
.home_bannerpic {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
}
.home_bannerpic img {
    position: absolute;
    height: auto;
    object-fit: cover; /* 讓圖片不變形 */
    filter: drop-shadow(0 0 10px rgba(164, 165, 148, 0.4)); /* 柔和的深色陰影，因為不規則所以不能用box-shadow*/
}
.home_bannerpic :first-child {
    width: 130px;
    left: -3%;
    bottom: 10%;
}
.home_bannerpic :nth-child(2) {
    width: 430px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.home_bannerpic :nth-child(3) {
    width: 250px;
    right: -6%;
    top: 0;
    transform: rotate(18deg);
} 
.home_bannerpic :last-child {
    width: 150px;
    right: -2%;
    bottom: 5%;
} 
/* news */
#news {
    padding-bottom: 35px;
}
#news h1, #news h2 {
    background-image: url(../img/blob_pink.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 44% center;
}
.home_newscard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 1em;
}
.news1, .news2, .news3 {
    font-size: 25px;width: 32%;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    padding: 1em 0 1em 0;
}
.news_wrap1 p {
    font-family: "Damion";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-align: center;
}
.news_wrap2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.news_wrap2 p {
    margin-bottom: 0.5em;
}
.news_wrap3 img {
    width: 80%;
    margin: 5% 10%;
}
.news1 {
    background-color: #F4E8EE;
    color: #A83774;
    a {
        background-color: #A83774;
    }
    img {
        border-radius: 5%;
        /* box-shadow: 2px 4px 15px 1px rgba(168, 55, 116, 0.3); */
    }
}
.news2 {
    background-color: #C0E8FD;
    color: #2C7DBD;
    a {
        background-color: #2C7DBD;
    }
    img {
        border-radius: 5%;
        /* box-shadow: 2px 4px 15px 1px rgba(44, 125, 189, 0.3); */
    }
}
.news3 {
    background-color: #EDFDF1;
    color: #4FE16F;
    a {
        background-color: #4FE16F;
    }
    img {
        border-radius: 5%;
        /* box-shadow: 2px 4px 20px 1px rgba(79, 225, 111, 0.2); */
    }
}
.more_btnwrap a {
    display: flex;
    align-items: center;
    justify-content: center;
}
#news .news1:hover, #news .news2:hover, #news .news3:hover {
    box-shadow: 1px 2px 15px 1px rgba(43, 76, 124, 0.3);
}
/* hot */
/* #home_hotinstrument {
    background-image: url(../img/home_hot-bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    overflow: hidden;
} */
#home_hotinstrument h2{
    background-image: url(../img/blob_purple.png);
    background-size: 9.5% auto;
    background-repeat: no-repeat;
    background-position: left 45% center;
}
.class_btnwrap {
    display: flex;
    justify-content: center;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 1em -1em 1em;
}
.card {
    width: 24%;
    margin: 0 auto 1em auto;
    padding: 1.5%;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    /* From https://css.glass */
    background: rgba(255, 243, 211, 1);
    border: 1px solid rgba(255, 243, 211, 0.3);
}
.card:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
[class*="degree_label"] {
    position: absolute;
    right: 8px;
    top: 35px;
}
[class*="degree_label"] span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 60px;
    height: 38px;
    text-align: center;
    line-height: 38px; /* 設定與 height 相同數值 */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}    
.triangle {
    width: 11px;
    height: 8px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);/* 定義三個座標點 (X Y) */
    position: absolute;
    right: 0;
    top: 38px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.low-degree_label span {
    background-color: #EE9F30;
}
.low-degree_label .triangle {
    background-color: #916425;
}
.advance-degree_label span {
    background-color: #2C7DBD;
}
.advance-degree_label .triangle {
    background-color: #194567;
}
.pro-degree_label span {
    background-color: #A83774;
}
.pro-degree_label .triangle {
    background-color: #561d3b;
}
.card .pic {
    border: 1px solid #C0CBDC;
    border-radius: 5%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.card .pic img {
    width: 100%;
    display: block;
    transition: .3s;
}
.card:hover .pic img {
    transform: scale(1.06);
}
.text {
    font-size: 20px;
    letter-spacing: 0.18em;
    text-align: center;
    margin-top: 5%;
}
.text :last-child {
    text-align: right;
    font-weight: bold;
    color: rgb(218, 103, 103);
    margin-top: 5%;
}
#news, #home_hotinstrument {
    padding-bottom: 25px;
}
/* customer reviews */
#home_customer_reviews h2{
    background-image: url(../img/blob_yellow.png);
    background-size: 9.5% auto;
    background-repeat: no-repeat;
    background-position: left 45% center;
}
.reviews-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    column-gap: 2%;
}
.customer_reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #C0CBDC;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 2px 15px 1px rgba(43, 76, 124, 0.3);
}
.customer {
    text-align: center;
    width: 35%;
}
.reviews {
    width: 60%;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-left: 5%;
    line-height: 1.5em;
}
.customer img {
    width: 100%;
    border-radius: 5%;
}
/* choose us reasons */
#chooseus {
    /*  */
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.reasons_text {
    font-family: "Damion";
    font-size: 35px;
    font-weight: bold;
    color: #EE9F30;
    letter-spacing: 0.4em;
    text-align: center;
    padding: 1%;
    margin: 3% 0;
}
.reasons {
    display: flex;
    justify-content: center;
    height: 280px;
    column-gap: 10%;
    text-align: center;
}
.reasons p {
    font-weight: bold;
}
[class*="blob"] i, [class*="blob"] p {
    color: #F66744;
}
[class*="blob"] i {
    font-size: 35px;
    padding: 0.3em;
}
[class*="blob"] p {
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}
[class*="blob"] {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* 讓內容上下堆疊 */
    justify-content: center; 
    align-items: center;
    width: 17%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.blob1 {
    background-image: url(../img/blob1.png);
}
.blob2 {
    background-image: url(../img/blob2.png);
}
.blob3 {
    background-image: url(../img/blob3.png);
}
.home_reasonsbanner_bg {
    background-image: url(../img/music_notes-dec.png);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}