/* 登入頁css */
#lightbox .login_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#login .normal_form {
    position: relative;
    width: 450px;
    margin: 1em 0;
    padding: 0;
}
#lightbox .leave_icon {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 30px;
    color: #2B4C7C;
}
#lightbox .leave_icon:hover {
    color: #EE9F30;
    cursor: pointer;
    transition: color 0.3s;
}
#lightbox .form_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lightbox form {
    width: 90%;
    margin: 0;
    padding: 15px;
}
#lightbox .form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 0;
}
#lightbox .form-group label {
    display: block;
    color: #2B4C7C;
    margin-bottom: 0.5em;
}
#lightbox .form-group input, textarea {
    width: 80%;
    display: block;
    margin-bottom: 0.5em; /* 增加標籤與輸入框間距 */
}
#lightbox .form-group i {
    font-size: 20px;
    color: #2B4C7C;
    position: absolute;
    right: 1.5%;
    top: 40%;
    transform: translateY(-40%);
    cursor: pointer;
}
#lightbox .form-group i:hover {
    color: #EE9F30;
    transition: colorr 0.3s;
}
/*  another login */
#lightbox .else {
    margin: 0.5em;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#lightbox .else p:hover {
    color: #EE9F30;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s;
}
#lightbox .login_text, .morechoose {
    font-size: 18px;
    font-weight: bold;
    color: #2B4C7C;
    text-align: center;
    padding: 0.2em;
    line-height: 1.2em;
}
#lightbox .morechoose-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px 0;
}
#lightbox.morechoose-wrap p {
    z-index: 2; 
}
#lightbox .morechoose-wrap::before {
    content: "";
    flex-grow: 1; /* Flex會按比例獲得剩餘空間 */
    height: 1px;
    background-color: gray;
    margin-right: -15px; /* 消除與 span 的 padding 重疊造成的間隙 */
}
#lightbox .morechoose-wrap::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: gray;
    margin-left: -15px;
}
#lightbox .social_media_icon {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-bottom: 40px;
}
#lightbox .social_media_icon img {
    width: 40px;
}
#lightbox .social_media_icon img:hover {
    cursor: pointer;
    transform: scale(1.27);/* 放大而不影醒其他東西  */
    transition: transform 0.3s;
}
#lightbox .normal_btn {
    width: 230px;
}
/* RWD */
@media screen and (max-width:430px) {
    #login .normal_form {
        width: 250px;
        margin: 5px;
    }
    #lightbox form {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #lightbox .normal_btn {
        width: 100px;
    }
    .h2_line {
        margin: 30px;
        line-height: 20px;
    }
    #lightbox .form-group i {
        font-size: 15px;
    }
    #lightbox .login_text, .morechoose {
        font-size: 14px;
        margin: 1px 0;
    }
    #lightbox .else {
        margin: 0;
    }
    #lightbox .social_media_icon img {
        width: 30px;
    }
}