/* 最新消息css */
.news_headerbanner_smbg {
    margin-top: 100px;
    background-image: url("../img/news-img/news-bg.jpg");
}
.content img {
    width: 60%;
    margin-bottom: 3em;
    border-radius: 20px;
    box-shadow: 2px 4px 10px 1px rgba(100, 100, 100
    , 0.3);
}
/* .normal-p + .normal-p {
    margin-top: 0;
} */
article {
    margin: 3% 0;
}
.next_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1%;
}
.next_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
}
