/* 快速租借專區css */
body {
    background-image: url(../img/quickly_rent-img/quickly_rent-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
.quicklyrent_headerbanner_smbg {
    margin-top: 100px;
    background-image: url("../img/quickly_rent-img/quickly-bg.jpg");
    background-size: cover;
    background-position: center center;
    overflow: hidden; /* 確保超出容器的圖片不會顯示滾動條 */
}
article h1 {
    background-image: url(../img/quickly_rent-img/blob_purpleblue.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 32% center;
    letter-spacing: .2em;
    white-space: nowrap;
}
/* form */
.progress_bar {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}
.step1, .step2, .step3, .step4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.progress_bar p {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0.2em;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.step_text {
    margin: 2em 0;
}
.step_text h2, .step_text p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.2em;
    text-align: center;
}
.progress_bar li + li::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: #2B4C7C;
    top: 25%;
    transform: translateY(-25%);
    margin: 0;
    right: 50%;
    z-index: -1;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.quickly_box {
    border-radius: 20px;
    width: 700px;
    padding: 3em;
    margin-left: 50%;
    transform: translatex(-50%);
    /* From https://css.glass */
    background: rgba(190, 205, 243, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(190, 205, 243, 0.2);
}
#quicklyrent .form-group {
    margin: 0.8em 0;
    width: 85%;
    font-size: 25px; 
    color: gray;
    padding: 0.5em;
}
#quicklyrent .normal_btn {
    margin: 1.5em;
}
#quicklyrent {
    padding-bottom: 2em;
}
section {
    margin: 3.5em auto 2em auto;
}
.middle_bg {
    background-image: url(../img/music_notes-dec.png);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
@media screen and (max-width:1280px) {
    .quicklyrent_headerbanner_smbg {
        margin-top: 90px;
    }
    #quicklyrent h1 {
        background-size: 80px auto;
        background-position: left 29% center;
    }
}
@media screen and (max-width:1024px) {
    .quicklyrent_headerbanner_smbg {
        margin-top: 80px;
    }
    #quicklyrent h1 {
        background-size: 80px auto;
        background-position: left 30% center;
    }
    .quickly_box {
        width: 600px;
    }
}
@media screen and (max-width:810px) {
    .quicklyrent_headerbanner_smbg {
        background-image: url("../img/quickly_rent-img/quickly-bg-pad.jpg");
        margin-top: 55px;
    }
    #quicklyrent h1 {
        background-size: 70px auto;
        background-position: left 26% center;
        letter-spacing: 3px;
    }
    .quickly_box {
        width: 500px;
        padding: 2em;
    }
    .form-group {
        font-size: 20px; 
        padding: 0.5em;
        line-height: 20px;
        margin: 0.3em;
    }
    .progress_bar img {
        width: 50px;
    }
    .progress_bar p {
        font-size: 18px;
        padding: 0.2em;
        line-height: 1.2em;
    }
    .progress_bar li + li::before {
        width: 100px;
    }
    .step_text h2, .step_text p {
        letter-spacing: 0.1em;
    }
}
@media screen and (max-width:650px) {
    #quicklyrent h1 {
        background-size: 75px auto;
        background-position: left 22% center;
    }
    .quickly_box {
        width: 410px;
        padding: 1em;
    }
    .form-group {
        font-size: 18px; 
        padding: 0.2em;
        line-height: 18px;
    }
    .progress_bar img {
        width: 40px;
    }
    .progress_bar p {
        font-size: 18px;
        padding: 0.2em;
        line-height: 1.2em;
    }
    .progress_bar li + li::before {
        width: 100px;
        height: 5px;
        padding: 0;
        margin: 0;
    }
    .step_text h2, .step_text p {
        letter-spacing: 0.1em;
    }
}
@media screen and (max-width:430px) {
    .quicklyrent_headerbanner_smbg {
        background-image: url("../img/quickly_rent-img/quickly-bg-phone.jpg");
        margin-top: 60px;
    }
    #quicklyrent h1 {
        background-size: 50px auto;
        background-position: left 10% center;
    }
    .quickly_box {
        width: 380px;
        padding: .5em;
    }
    .progress_bar p {
        font-size: 16px;
    }
    .progress_bar li + li::before {
        width: 80px;
    }
}