/* 快速租借專區css */
body {
    background-image: url(../img/quickly_rent-img/quickly_rent-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
article h1 {
    margin-top: 135px;
    background-image: url(../img/quickly_rent-img/blob_purpleblue.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 27% center;
}
/* form */
.progress_bar {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}
.step1, .step2, .step3, .step4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.progress_bar p {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0.2em;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.step_text {
    margin: 2em 0;
}
.step_text h2, .step_text p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.2em;
    text-align: center;
}
.progress_bar li + li::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: #2B4C7C;
    top: 25%;
    transform: translateY(-25%);
    margin: 0;
    right: 80%;
    z-index: -1;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.quickly_box {
    border-radius: 20px;
    width: 50%;
    padding: 3em;
    margin-left: 50%;
    transform: translatex(-50%);
    /* From https://css.glass */
    background: rgba(190, 205, 243, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(190, 205, 243, 0.2);
}
.form-group {
    margin: 0.8em 0;
    width: 85%;
    font-size: 25px; 
    color: gray;
    padding: 0.5em;
}
#quicklyrent .normal_btn {
    margin: 1.5em;
}
article {
    padding-bottom: 2em;
}
section {
    margin: 3.5em auto 2em auto;
}
.middle_bg {
    background-image: url(../img/music_notes-dec.png);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}