/* 商品內頁css */
body {
    background-image: url(../img/instrument-img/rentbg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
#rent_inside {
    margin-top: 135px;
}
.bread_crumbs ol {
    display: flex;
    margin: 2em 1em;
}
.bread_crumbs a {
    margin: 1em 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.24em;
    padding: 0;
}
.now a {
    color: #EE9F30;
    cursor: default;
}
.bread_crumbs li + li::before {
    content: '>';
    margin: 0 1em; 
    position: static; 
    font-size: 20px;
    font-weight: bold;
    z-index: auto;
}
.bread_crumbs a:hover {
    color: #EE9F30;
    cursor: pointer;
    transition: color 0.3s;
}
.now a:hover {
    cursor: default;/* 將游標設定回預設的箭頭圖標 */
}
.commodity_top {
    display: inline-block;
    padding: 0
}
#rent_inside h1 {
    margin: 1em 0.5em;
    padding: 0;
}
.container h2 {
    display: inline-block;
    padding: 0;
    margin: 1.25em 1em;
}
.commodity_top {
    display: flex;
    align-items: center;
}
.addlike_btn {
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 100px;
    padding: 0.12em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addlike_btn:hover {
    background: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, background 0.3s;
}
/* commodity */
.commodity {
    display: flex;
    margin: 1em;
    justify-content: space-around;
}
.commodity_img, .commodity_text {
    width: 50%;
}
.main_img {
    width: 90%;
    display: flex;
    justify-self: center;
    margin: 1em 0 2em 0;
    /* border: 1px solid gray; */
}
.else_img {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}
.else_img img {
    width: 150px;
    background-color: #ffffff55;
    border: 1px solid rgba(128, 128, 128, 0.491);
}
.commodity_text {
    border: 1px solid gray;
    border-radius: 5%;
}
.commodity_text h2 {
    padding: 0;
    margin-top: 1.7em;
}
.commodity_text p, .date .normal-p {
    margin: 0 32px 1em 32px;
    padding: 0;
}
.black {
    content: '';
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
}
.white {
    content: '';
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
}
.transparent {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #EEEEEE;
    border: 1px solid black;
}
hr {
    margin: 2em 0;
}
input {
    font-size: 20px;
}
.choose_color {
    display: flex;
    position: relative;
}
.color {
    position: absolute;
    bottom: 20%;
    left: 12em;
}
.addcart_btn {
    display: flex;
    justify-content: right;
}
.addcart_btn button {
    width: 180px;
    margin: 1.8em 1.8em 0 0;
}
/* introduce */
.introduce_wrap {
    margin: 3em 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    column-gap: 10%;
    text-align: center;
}
.introduce_wrap p {
    font-size: 30px;
    font-weight: bold;
}
.introduce_text p {
    margin: 0 1.2em;
    padding: 0;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 1em auto;
    font-size: 25px;
    letter-spacing: 0.24em;
    text-align: center;
    table-layout: fixed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    overflow: hidden;/* 確保圓角能裁切掉內容 */
}
th {
    border-right: 2px solid white;
    background-color: #EE9F30;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
    vertical-align: middle;
    height: 70px;
}
/* 移除最右邊 TH 的右邊框 */
th:last-child {
    border-right: none;
}
td {
    color: #EE9F30;
    padding: 12px 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #f7f7f7;
    height: 70px;
}
td:hover {
    background-color: #FFF3D3;
    transition: background-color 0.3s ease; /* 讓顏色變化更平滑 */
}
/* another commodity */
.another_wrap {
    margin: 0;
    padding: 0;
}
.card-list {
    margin-top: 2em;
}
article {
    margin-bottom: 6em;
}