/* rent */
#rent {
    background-image: url(../img/instrument-img/rentbg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    overflow: hidden;
}
#rent h1{
    background-image: url(../img/blob_purple.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 44% center;
}
/* class */
.class_btnwrap {
    margin: 0 2em 2em 0;
}
.class_btnwrap button {
    width: 200px;
    padding: 0 1em;
    margin: 0;
}
.class_btnwrap img {
    width: 100%;
    border-radius: 200px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    box-shadow: 2px 4px 20px 1px rgba(100, 100, 100, 0.2);
}
/* search */
.search-wrap, .search-group {
    display: flex;
    justify-content: flex-end;
}
.search, .search-btn i, .filter {
    font-size: 25px;
}
.search-group {
    position: relative;
    margin: 0 1em 1em 0;
}
.search-btn {
    display: flex;
    align-items: center;
}
.search-btn i {
    position: absolute;/* ?? */
    right: 0.5em;
}
.filter-group {
    margin-right: 2em;
    font-family: "Noto Sans TC";
}
/* pagenumber */
.pagenumber_btn {
    text-align: center;
    width: 100%;
    margin: 3em auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagenumber_btn a {
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 20px;
    padding: 0.12em;
    width: 50px;
    height: 50px;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagenumber_btn a:hover {
    background: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, background 0.3s;
}