/* 商品內頁css */
body {
    background-image: url(../img/instrument-img/rentbg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
#rent_inside {
    margin-top: 135px;
}
.bread_crumbs ol {
    display: flex;
    margin: 2em 1em;
}
.bread_crumbs li {
    display: flex;
    align-items: center;
}
.bread_crumbs a {
    margin: 1em 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.24em;
    padding: 0;
    justify-content: center;
}
.now a {
    color: #EE9F30;
    cursor: default;
}
.bread_crumbs li + li::before {
    content: '>';
    margin: 0 1em; 
    position: static; 
    font-size: 20px;
    font-weight: bold;
    z-index: auto;
}
.bread_crumbs a:hover {
    color: #EE9F30;
    cursor: pointer;
    transition: color 0.3s;
}
.now a:hover {
    cursor: default;/* 將游標設定回預設的箭頭圖標 */
}
.commodity_top {
    display: inline-block;
    padding: 0
}
#rent_inside h1 {
    margin: 1em 0.5em;
    padding: 0;
}
.container .producth2 {
    display: inline-block;
    padding: 0;
    margin: 1.25em 1em;
}
.commodity_top {
    display: flex;
    align-items: center;
}
.addlike_btn {
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 100px;
    padding: 0.12em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addlike_btn:hover {
    background: #EE9F30;
    border: #EE9F30;
    transition: border 0.3s, background 0.3s;
}
/* commodity */
.commodity {
    display: flex;
    margin: 1em;
    justify-content: space-around;
}
.commodity_img, .commodity_text {
    width: 50%;
}
.main_img {
    width: 90%;
    display: flex;
    justify-self: center;
    margin: 1em 0 2em 0;
    /* border: 1px solid gray; */
}
.else_img {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}
.else_img img {
    width: 120px;
    background-color: #ffffff55;
    border: 1px solid rgba(128, 128, 128, 0.491);
}
.commodity_text {
    border: 1px solid gray;
    border-radius: 20px;
}
.commodity_text h2 {
    padding: 0;
    margin-top: 1.7em;
}
.commodity_text p, .date .normal-p {
    margin: 0 32px 1em 32px;
    padding: 0;
}
.black {
    content: '';
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
}
.white {
    content: '';
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
}
.transparent {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #EEEEEE;
    border: 1px solid black;
}
hr {
    margin: 2em 0;
}
input {
    font-size: 20px;
}
.choose_color {
    display: flex;
    position: relative;
}
.color {
    position: absolute;
    bottom: 20%;
    left: 12em;
}
.addcart_btn {
    display: flex;
    justify-content: right;
}
.addcart_btn button {
    width: 180px;
    margin: 1.8em 1.8em 0 0;
}
/* introduce */
.introduce_wrap {
    margin: 3em 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    column-gap: 10%;
    text-align: center;
}
.introduce_wrap p {
    font-size: 30px;
    font-weight: bold;
}
.introduce_text p {
    margin: 0 1.2em;
    padding: 0;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 1em auto;
    font-size: 25px;
    letter-spacing: 0.24em;
    text-align: center;
    table-layout: fixed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    overflow: hidden;/* 確保圓角能裁切掉內容 */
}
th {
    border-right: 2px solid white;
    background-color: #EE9F30;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
    vertical-align: middle;
    height: 70px;
}
/* 移除最右邊 TH 的右邊框 */
th:last-child {
    border-right: none;
}
td {
    color: #EE9F30;
    padding: 12px 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #f7f7f7;
    height: 70px;
}
td:hover {
    background-color: #FFF3D3;
    transition: background-color 0.3s ease; /* 讓顏色變化更平滑 */
}
/* another commodity */
.another_wrap {
    margin: 0;
    padding: 0;
}
.card-list {
    margin-top: 2em;
}
article {
    margin-bottom: 6em;
}
.choose_color .color button.selected {
    border: 3px solid #EE9F30; /* 例如：使用重點色作為邊框 */
    box-shadow: 0 0 5px rgba(238, 159, 48, 0.5); /* 添加陰影效果 */
}
/*  RWD */
@media screen and (max-width:1024px) {
    #rent_inside {
        margin-top: 110px;
    }
    .else_img img {
        width: 100px;
    }
    input {
        font-size: 18px;
    }
    .black, .white, .transparent {
        width: 30px;
        height: 30px;
    }
    .introduce_wrap p {
        font-size: 25px;
    }
    .another_wrap {
        flex-wrap: nowrap;
    }
    .bread_crumbs ol {
        margin: 0 0 0 1em;
    }
    #rent_inside h1 {
        margin: 10px .5em;
    }
    th {
        padding: 5px;
        height: 70px;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .another_wrap .card-list {
        justify-content: space-between;
    }
    .card-list .card {
        width: 20%;
    }
}
@media screen and (max-width:810px) {
    #rent_inside {
        margin-top: 80px;
    }
    .bread_crumbs a {
        font-size: 17px;
        letter-spacing: 1px;
        white-space: nowrap;
    }
    .bread_crumbs li + li::before {
        margin: 0 10px;
    }
    .commodity {
        flex-direction: column;
    }
    .commodity_img {
        width: 70%;
        align-self: center;
    }
    .main_img {
        width: 400px;
        margin: 0;
    }
    .commodity_text {
        margin-top: 20px;
        width: 80%;
        align-self: center;
    }
    .introduce_wrap p {
        font-size: 20px;
    }
    table {
        width: 90%;
    }
    th {
        font-size: 17px;
    }
    .another_wrap .card-list {
        justify-content: center;
    }
    .card-list .card {
        width: 33%;
    }
}
@media screen and (max-width:430px) {
    #rent_inside {
        margin-top: 50px;
    }
    .bread_crumbs a {
        font-size: 10px;
        letter-spacing: 0px;
        vertical-align: middle;
    }
    .main_img {
        width: 250px;
    }
    .commodity_text {
        margin-top: 20px;
        width: 100%;
        align-self: center;
    }
    .commodity_text h2 {
        padding: 0;
        margin-top: 1em;
    }
    .commodity_text p, .date .normal-p {
        margin: 0 22px 1em 22px;
    }
    th {
        font-size: 14px;
        padding: 0;
    }
    .card-list .card {
        width: 160px;
    }
}
@media screen and (max-width:390px) {
    
}