/* 樂器列表css */
body {
    background-image: url(../img/instrument-img/rentbg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
#rent h1{
    margin-top: 135px;/* 原本h1有margin=1em */
    background-image: url(../img/blob_purple.png);
    background-size: 10% auto;
    background-repeat: no-repeat;
    background-position: left 44% center;
}
/* class */
.class_btnwrap {
    margin: 0 2em 2em 0;
}
.class_btnwrap button {
    width: 200px;
    padding: 0 1em;
    margin: 0;
}
.class_btnwrap img {
    width: 100%;
    border-radius: 200px;
    /* border: 1px solid rgba(100, 100, 100, 0.2);
    box-shadow: 2px 4px 20px 1px rgba(100, 100, 100, 0.2); */

    /* 或者如果你想要淺色光暈效果： */
    filter: drop-shadow(0 0 15px rgba(201, 113, 173, 0.3));
}
.class_btnwrap button:hover{
    transform: scale(1.15);
    transition: transform 0.3s;
}
/* search */
.search-wrap, .search-group {
    display: flex;
    justify-content: flex-end;
}
.search, .search-btn i, .filter {
    font-size: 20px;
}
.search-group {
    position: relative;
    margin: 0 1em 0 0;
}
.search-btn {
    display: flex;
    align-items: center;
}
.search-btn i {
    position: absolute;
    right: 0.5em;
    color: gray;
}
.filter-group {
    margin-right: 1.5em;
    height: 100%;
}
.filter {
    color: gray;
    /* appearance: none; */
}
/* pagenumber */
.pagenumber_btn {
    text-align: center;
    width: 100%;
    margin: 3em auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagenumber_btn a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #2B4C7C;
    border-radius: 300px;
    padding: 0.12em;
    width: 50px;
    height: 50px;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagenumber_btn a:hover {
    background: #EE9F30;
    transition: border 0.3s, background 0.3s;
}